body {
    font-size: small;
    margin: 0; padding: 0;
}

/* Side Bar*/

.sidebar {
    background-color: #05161a;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: fixed;
}

.sidebar .button {
    background-color: white;
    color: black;
    width: 100px;
    height: 25px;
    border-style: none;
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 80px;
    text-decoration: none;
}

.sidebar .button:hover{
    background-color: #b5b0b0;
    color: black;
}

.logo img{
    display: flex;
    justify-content: center;
    margin: 55px auto;
    width: 80px;
}

.user-photo {
    background-color: #fff;
    width: 120px;
    height: 120px;
    border: 2px solid white;
    border-radius: 50%;
    margin-bottom: 10px;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-family: 'Pangolin', cursive;
}

.balance {
    background-color: rgba(120, 117, 117, 0.7);
    padding: 15px;
    border-radius: 20px;
    margin-top: 30px;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    width: fit-content;
}

.balance-icon {
    margin-right: 8px;
    margin-top: 1px;
    font-size: 15px;
}

.balance-amount {
    margin-left: 80px;
}


.boxSaldo form input{
    border-radius:5px;
    height: 30px;
    margin-top: 3px;
    margin-bottom: 3px;
    border: none;
    font-size: 12px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    outline: none;
}
.boxSaldo form button{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    text-decoration: none;
    color: white;
    transition: 0.2s;
}

.navigation{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}


.navigation-item {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    width: 100px;
    height: 30px;
    margin: 0;
    transition: 0.2s;
}

.navigation-icon {
    margin-right: 15px;
    font-size: 22px;
}

.navigation a:hover{
    background: #6da5c0;
    text-decoration: none;
    color: #f5f5f5;
    border-radius: 20px;
    border: #fff;
    box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 100px #03e9f4;
}

.sidebar form{
    background-color: rgba(120, 117, 117, 0.7);
    margin-top: 30px;
    border-radius: 25px;
    width: 245px;
    padding: 5px 0;
}


.sidebar form input{
    border: 1px solid rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    height: 25px;
    width: 200px;
    background-color: white;
    margin-top: 15px;
    margin-bottom: 20px;
}

.sidebar form input::placeholder{
    color: rgba(120, 117, 117, 0.7);
    text-align: center;
}

.sidebar form button{
    background-color: transparent;
    color: white;;
    border-style: none;
    font-size: 13px;
    border-radius: 20px;
    margin-bottom: 15px;
    padding: 8px;
    width: 80px;
}

.sidebar form button:hover{
    background: #6da5c0;
    text-decoration: none;
    color: #ffffff;
    border-radius: 20px;
    border: #fff;
    box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 100px #03e9f4;
}

.content {
    margin: 0px 15px 0px 320px;
    padding: 20px;
}

/* Halaman Utama */

.welcome-text {
    font-weight: 500;
    font-size: 45px;
    margin-top: 10px;
    font-family: 'Pangolin', cursive;
}

.box {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 10px rgba(20, 18, 18, 0.4);
    padding: 15px 40px;
    margin-top: 20px;
}

.box-title {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Pangolin', cursive;


}

.box-content {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}


.box-text {
    margin-top: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    color: #6da5c0;
}

.box-text span {
    font-size: 20px;
    color: #000000;
}

.box-button {
    background-color: #2F0331;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    font-weight:normal;
    margin-left: 25px;
    cursor: pointer;
}

.box-button:hover{
    background-color: #b5b0b0;
}

.order-table {
    width: 100%;
    border-collapse: collapse;
    margin: 15px 0px 15px 0px;
    font-family: 'Montserrat', sans-serif;
}

.order-table th,
.order-table td {
    border: 2px solid #ccc;
    padding: 8px;
    text-align: center;
}

.order-table th {
    background-color: #05161a;
    color: #fff;
}


.box-row {
    display: flex;
    align-items: center;
}
